* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.main-nav li {
    padding: 0 .5em;
}

.header,
.section,
footer {
    margin: auto 0.5em;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.header-container ul {
    flex-grow: 1;
    text-align: end;
}


.header li {
    display: inline;
}

.container {
    margin: 0 auto;
    padding: 0 1.5em;
}

.footer-name {
    border-top: 1px solid black;
    text-align: center;
    margin: 0px;
    padding: 30px;
    font-weight: normal;
    font-size: 1em;
}

.product-items {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    margin: 1.5em 2.5em;
    padding: 0.5em;
    width: 250px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.product-item p {
    text-align: center;
    margin: 10px;
}

.section-container {
    margin-top: 15px;
}

.input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.section .container .input-field label {
    /*Width for spacing content(more box)*/
    width: 100px;
    color: #757575;
    margin-right: 10px;
    font-size: 16px;
}

.section .container .input-field input,
.section .container .input-field select {
    /*Width for spacing content(more box)*/
    width: 150px;
}

.selectedProduct {
    display: none;
}  